body,html {
    height: 100%;
    width: 100%;
}

.collapse.navbar-collapse {
    width: 100%; /* Ocupa todo el ancho */
}

.navbar-nav {
    flex-direction: column; /* Despliega los enlaces de forma vertical */
    text-align: center;
}
.activo {
    font-weight: bold;
    color: #ff4646;
}
.btn-rojo {
    font-weight: bold;
    background-color: #ff4646;
    color: white;
    border-color: #da3e3e;
}
.btn-rojo:hover{
    background-color: #da3e3e;
    color: whitesmoke;
    border-color: #da3e3e;
}
.btnDrop {
    background-color: transparent;
    border: none;
    color:black;
}
.dropdown-menu {
    left: inherit !important;
    right: 0px;
}
figure img {
    width: 200px; /* O el tamaño que prefieras */
    height: 200px;
    object-fit: cover; /* Recorta y ajusta la imagen al contenedor */
    border-radius: 100%; /* Esto redondeará las imágenes para un efecto circular */
}